* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/image_summer.png");
    background-repeat: no-repeat;
    background-size: 815px;
    background-position-x: right;
}

/* Navigation */

nav {
    width: 625px;
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
}

#logoimg {
    width: 25px;
    height: 40px;
    position: relative;
    bottom: 6px;
}

#pineapple {
    position: relative;
    right: 35px;
    margin-top: 14px;
    letter-spacing: 1px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
}

ul {
    display: flex;
    margin-right: 50px;
}

li {
    list-style: none;
    padding-left: 30px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    margin-top: 14px;
    letter-spacing: .5px;
}

a {
    text-decoration: none;
    color: #6A707B;
}

/* Navigation ends */

/* Main */

#subscribe {
    margin-top: 110px;
    margin-left: 90px;
    font-family: Georgia;
    font-weight: 300;
    font-size: 32px;
    line-height: 44px;
    color: #131821;
}

#discount {
    margin-left: 90px;
    margin-top: 15px;
    font-family: Arial;
    font-size: 16px;
    line-height: 28px;
    color: #6A707B;
}

#email {
    margin-left: 50px;
    margin-top: 25px;
    height: 62px;
    text-indent: 39px;
    width: 635px;
    border-top: 0.7px grey solid;
    border-right: 0.7px grey solid;
    border-bottom: 0.7px grey solid;
    border-left: 10px #4788F2 solid;
}

::placeholder {
    color: #6A707B;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
}

button {
    position: relative;
    width: 70px;
    height: 56px;
    right: 75px;
    top: 1px;
    border-style: none;
    background-color: white;
    cursor: pointer;
}

#terms {
    margin-left: 90px;
    margin-top: 40px;
}

input[type="checkbox"]{
    width: 18px;
    height: 18px;
    background-color: red;
}

label {
    position: relative;
    font-size: 14px;
    bottom: 3px;
    left: 5px;
}

label[for=terms] {
    color: #6A707B;
}

span {
    border-bottom: 0.7px solid #000;
    padding-top: 3px;
    color: black;
}

#hrdiv {
    width: 625px;
}

hr {
    width: 400px;
    border: 0;
    border-top: 1.5px solid #eee;
    margin: auto;
    margin-top: 50px;
}

/* Main ends */

/* Footer */

footer {
    margin-top: 30px;
    width: 625px;
    text-align: center;
}

footer > a {
    padding: 0 5px;
}

/* Footer ends */
